html,
button,
input,
select,
textarea {
    color: #222;
}
form, fieldset {
    border-style: none;
    margin: 0;
    padding: 0;
}
body {
    color: #585858;
    font: 13px/15px Verdana,Geneva,sans-serif;
}
a {
    color: #2e96db;
    outline: medium none;
    text-decoration: none;
}


#wrapper{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}


.form-validate {
    width: 900px; }
.form-validate .form-title {
    font: 22px/24px "Times New Roman", sans;
    text-transform: uppercase;
    margin: 20px 0 20px 340px; }
.form-validate .help-text {
    margin: 0 0 0 345px;
    font-size: 12px;
    line-height: 16px; }
.form-validate .form-item {
    clear: both;
    margin: 20px 0; }
.form-validate .form-item label {
    width: 310px;
    float: left;
    text-align: right;
    padding: 5px 30px 0 0; }
.form-validate .form-item input,
.form-validate .form-item textarea {
    width: 425px !important;
    border: 1px solid #7c6b66;
    background: #efebe6;
    padding: 5px 10px; }
.form-validate .form-item.error input,
.form-validate .form-item.error textarea {
    border: 1px solid #cc0000;
    background: #fffbf6;
}
.form-validate .form-item.correct input,
.form-validate .form-item.correct textarea {
    border: 1px solid #42cc42;
    background: #fffbf6;
}
.form-validate .form-item textarea {
    height: 65px; }
.form-validate .form-item .form-submit {
    background: #dcb98b;
    border: 0;
    cursor: pointer;
    color: #32302b;
    font: 18px/22px "Times New Roman", sans;
    float: left;
    padding: 5px 10px;
    margin: 20px 0 5px 340px; }